.box{
    height: 100px;
    background: darkcyan;
    span{
        display: inline-block;
        width: 50px;
        background-color: darkgoldenrod;
        color: #000;
        scroll-behavior: auto;
    }
}