<!DOCTYPE html>
    <head>
        <title>智慧深汕地理信息系统</title>
    </head>
    <body>
        <div class="box">
            <h1>HELLO EJS</h1>
            <article>
                智慧深汕地理信息系统
                wokiy 编辑
                <span>
                    编辑于深汕智慧城市研究院
                </span>
                <div>
                    <%=title%>
                </div>
            </article>
        </div>
    </body>
</html>